<mat-toolbar color="primary" role="header" class="header">
<div class="mainRow">
</div>
<div class="menu">
  <button mat-button [matMenuTriggerFor]="menu" class="buttonMenu">
    <p class="title">Texto seleccionado</p>
    <mat-icon matListIcon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</div>
<div class="rightMenu">
  <div class="left">
  <button mat-icon-button>
    <div class="notification">
      <span>0</span>
    </div>
    <mat-icon>notifications</mat-icon>
  </button>
  </div>
  <div class="right">
    <button mat-button [matMenuTriggerFor]="account" class="buttonMenu">
      <mat-icon matListIcon style="font-size: 40px;  margin-right: 5px; margin-top: -15px;">account_circle</mat-icon>
      <mat-icon matListIcon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #account="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  </div>
</div>
</mat-toolbar>
