.product{
  margin: 2%;
  left: 0px;
  width: 96%;
  background: rgb(238,238,238);
}
.header{
  height: auto;
  background: #fff;
  padding-top: 20px;
  margin: -2%;
}
.row{
  width: 98%;
  margin-left: 2%;
  min-height: 50px;
  margin-bottom: 25px;
}
.row .left{
  width: 49.5%;
  display: inline-block;
  vertical-align: middle;
}
.row .right{
  text-align: right;
  width: 49.5%;
  display: inline-block;
}
.iconButton{
  color: rgba(117,117,117,1);
}
.row .type{
  color: #fff;
  background: red;
  font-weight: 800;
  padding: 5px 10px;
  border-radius: 100% ;
  margin-left: -10px;
  margin-right: 5px;

}
.mat-chip:not(.mat-basic-chip){
  padding: 0 12px;
}
.steepContainer{
  width: 104%;
  margin: -2%;
  background: rgb(238,238,238);
}
.steepContainer .inner{
  width: 70%;
  margin-left: 15%;
}
.steepContainer .flowName{
  font-size: 45px;
  width:100%;
}
.steepContainer .left{
  display: inline-block;
  vertical-align: middle;
  width: 49.5%;
}
.steepContainer .right{
  display: inline-block;
  vertical-align: middle;
  width: 49.5%;
  text-align: right;
}
.timerHolder{
  display: inline-block;
}
.cardFull{
  margin-top: 25px;
  position: relative;
  min-height: 200px;
  width: 80%;
  margin-left: 20% !important;
}
.dragableBox{
  /*width: 98%;
  border: 1px dashed grey;
  height: 200px;
  background: url('/assets/flow001.png') no-repeat center center ;*/
}
.SteepName{
  width: 90%;
  font-size: 25px;
  margin-top: -25px;
}
.options{
  position: absolute;
  top: 30px;
  right: 10px;
}

.add{
  margin-top: 30px;
  border-top: 3px solid rgb(238,238,238);
}
.add p{
  margin: 0px;
  text-align: center;
  margin-top: -10px;
  background: #fff;
  width: 210px;
  margin-left: calc(50% - 105px);
  text-transform: uppercase;
  color:rgb(238,238,238);
  cursor: pointer;
}
.backTitle{
  font-size: 25px;
}

.inlineChipSet{
  color:rgba(117,117,117,1);
  display: inline-block;
  vertical-align: top;
}
.chipSet{
  display: inline-block;
  vertical-align: middle;
}
