<mat-list class="menuLinks">
  <mat-list-item routerLink="/dashboard">
    <mat-icon matListIcon color="accent">assessment</mat-icon>
    <p color="accent">Tablero</p>
  </mat-list-item>
  <mat-list-item routerLink="/accounts">
    <mat-icon matListIcon  color="accent">person</mat-icon>
    <p>Cuentas</p>
  </mat-list-item>
  <mat-list-item routerLink="/forms">
    <mat-icon matListIcon  color="accent">assignment</mat-icon>
    <p>Formatos</p>
  </mat-list-item>
  <mat-list-item routerLink="/products">
    <mat-icon matListIcon  color="accent">work</mat-icon>
    <p>Productos</p>
  </mat-list-item>
  <mat-list-item routerLink="/contacts">
    <mat-icon matListIcon  color="accent">supervisor_account</mat-icon>
    <p>Contactos</p>
  </mat-list-item>
</mat-list>
