/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~normalize.css/normalize.css';
.mat-drawer.mat-drawer-side{
  z-index: 0 !important;
}
.mat-display-3{
  margin: 0px;
  font-weight: 100;
}
.mat-subheading-2{
  color: #828282;
}
.inputPicker{
  width: 100px;
  display: inline-block;
  vertical-align: bottom;
}
.inputPicker input{
  background: transparent !important;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
/*.mat-horizontal-content-container{
  overflow: visible !important;
}
.mat-horizontal-stepper-content{
  overflow: visible !important;
}*/
.errorList{
  list-style: none;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
.stage-wrap.empty{
  background: url('/assets/flow001.png') no-repeat center center;
}
.form-wrap.form-builder .stage-wrap{
  float: right !important;
  width: 100% !important;
}
.form-wrap.form-builder .cb-wrap{
  position: absolute !important;
  left: -50% !important;
  background: #fff;
  box-shadow: 2px 2px 2px black;
  width: 300px !important;
  top: -100px !important;
}
.prev-holder{
  display: none !important;
}
