/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~normalize.css/normalize.css';
.mat-drawer.mat-drawer-side{
  z-index: 0 !important;
}
.mat-display-3{
  margin: 0px;
  font-weight: 100;
}
.mat-subheading-2{
  color: #828282;
}
.inputPicker{
  width: 100px;
  display: inline-block;
  vertical-align: bottom;
}
.inputPicker input{
  background: transparent !important;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
/*.mat-horizontal-content-container{
  overflow: visible !important;
}
.mat-horizontal-stepper-content{
  overflow: visible !important;
}*/
.errorList{
  list-style: none;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
.stage-wrap.empty{
  background: url('/assets/flow001.png') no-repeat center center;
}
.form-wrap.form-builder .stage-wrap{
  float: right !important;
  width: 100% !important;
}
.form-wrap.form-builder .cb-wrap{
  position: absolute !important;
  left: -50% !important;
  background: #fff;
  box-shadow: 2px 2px 2px black;
  width: 300px !important;
  top: -100px !important;
}
.prev-holder{
  display: none !important;
}
.datePickerHidden{
  background: red;
  text-align: center;
  border: none;
  color:#fff;
}
.fileUpload{
  border: 1px dashed grey !important;
  position: relative;
  margin-top: 25px;
  input{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
  }
  button{
    vertical-align: middle;
    color: #fff !important;
    font-weight: 600 !important;
  }
  span{
    color: grey;
  }
  i{
    vertical-align: middle;
    margin-left: 5px;
  }
}
.form-wrap.form-builder .frmb .field-actions{
    position: absolute;
    //top: 0;
    //right: 0;
    opacity: 0;
    position: absolute;
    left: 50%;
    margin-top: 33px;
}
.mdlext-selectfield__label{
  color: rgb(244,67,54) !important;
}
.input-wrap .mdlext-selectfield .mdlext-js-selectfield .mdlext-selectfield--floating-label .is-dirty .is-focused{
  border-bottom: rgb(244,67,54) !important;
}
.lineBreak{
  width: 102%;
  background: #E2E2E2;
  height: 2px;
  margin-top: 35px;
  margin-left: -1%;
}
.editing .half .form-group{
  width: 49.5% !important;
  display: inline-block;
}
.form-wrap.form-builder .frmb .form-elements{
  border: none !important;
  background: #fff !important;
  box-shadow: 0px 0px 3px grey;
  padding: 35px !important;
}
.form-elements p{
  color: #808080 !important;
}
.hiddeComp{
  display: none;
}
.holderPreview{
  width: 50%;
  margin-left: 25%;
  .mdl-textfield, .mdlext-selectfield, section {
    display: block !important;
    width: 100% !important;
  }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;


    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
